*{
    margin: 0;
    padding: 0;
}
.contain{
    
    background:linear-gradient(150deg, #c1fcd3 50%, #0ccda3 50%);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
    width: 100%;
    padding:30px;
    text-align: center;
    color:#0ccda3;
}

h2{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 10px;
}

input{
    width:350px;
    height: 30px;
    margin-left: 20px;
    margin-top: 0;
    padding:10px;
    font-size: 20px;
    border: 2px solid #0ccda3;
    outline: none;
    color: #06637a;
}

#select{
    margin-left: 350px;
    height: 40px;
    width:20%;
    /* background-color: #c1fcd3; */
    background: #c1fcd3;
    border: 2px solid #06637a;
    outline: none;

}

#submit{
    background-color: #0ccda3;
    width:10%;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 0;
    border: none;
    border: 2px solid #06637a;
}

#submit:hover{
    background-color: #85e0cd;
    color:rgb(6, 39, 53);
    cursor:pointer;

}

.row, .row2{
    height: 50px;
    padding: 20px;
    color:#043d31;
    font-size: 30px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    border: 1px solid #035e4a;
    width:100vw;
    
    
}


.edit, .delete{
    margin-left:20px;
    height: 40px;
    border-radius: 5px;
    background-color: #0ccda3;
    font-size: 20px;
    padding:5px;
    width:100px;
}

.edit{
    margin-left: 1000px;
    background-color:#28A545;
    color:white;
}

.edit:hover{
    background-color: #c1fcd3;
    color:#28a545;
    cursor:pointer;
}
.delete:hover{
    background-color: #c1fcd3;
    color:#dd3445;
    cursor:pointer;
}

.delete{
    background-color:#DD3445;
    color:white;
}

.btn{
    margin-right: 40px;
}

#two{
    margin-left: 1018px;
}

#three{
    margin-left:940px
}